body {
  overflow-x: hidden;
  font-family: 'Commissioner', sans-serif; }
  @media (max-width: 500px) {
    body {
      overflow-x: hidden;
      font-size: 1.5rem; } }
.depute{
  max-width: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.dot ul{
  list-style-type: none;
}
