$fs:3rem;
$fs2:2rem;

$bg-color:#12327D;
$color:#ffffff;
$color2:#000000;
$fsm:1.5rem;
$fsm2:0.8rem;
$fsm3:0.7rem;
@import "landing.scss";
@import "lastagency.scss";
@import "ouroffering.scss";
@import "numbers.scss";
@import "happyusers.scss";
@import "footer.scss";
