html {
  scroll-behavior: smooth;
  /* pointer-events: none; */
}

/* Text Align Justify*/
.justify{
  text-align: justify;
}

/* Section Begining and Ending Spacing*/
.max-space{
  height: 12vh;
}
.mid-space{
  height: 7vh;
}
.min-space{
  height: 3vh;
}

@media(max-width: 480px){
  .max-space{
    height: 7.5vh;
  }
  .mid-space{
    height: 4.5vh;
  }
  .min-space{
    height: 1.5vh;
  }
}

/* Headings */
.first-h1-page {
  font-size: 50px;
  font-weight: 600;
}

.desc-below-main-h1 {
  font-size: 25px;
  font-weight: 300;
}

@media (max-width: 480px) {
  .first-h1-page{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
  }

  .desc-below-main-h1{
    text-align: center;
    font-size: 18px;

  }
}

.h-2 {
  font-size: 40px;
  font-weight: 400 !important;
}

.normal-text {
  font-size: 20px;
}

.dark-bg-text-clr {
  color: #f3f3f3;
}

.light-bg-text-clr {
  color: #2f3545;
}

@media(max-width:480px){
  .h-2{
    font-size: 23px;
    text-align: center;
    font-weight: 600 !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .normal-text{
    font-size: 15px;
    text-align: center;
  }

}

/* Navbar Classes */
.navbar {
  background-color: #12327d;
}

.nav-text-normal {
  font-size: 15px;
  font-weight: 400;
  color: #f3f3f3 !important;
  text-decoration: none !important;
}

.login-button {
  color: #2f3545 !important;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  border: none;
  transition: transform 0.2s;
}

.login-button:hover {
  transform: scale(1.1);
}

/* Center Everything */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Commissioner", sans-serif;
}

@media (max-width: 480px){
  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* First Section */
.top-section{
  height: 90vh;
  background-color: #12327d;
  color: #f3f3f3;
  font-family: "Commissioner", sans-serif;

}
.lp {
  background-color: #12327d;
  color: #f3f3f3;
  height: 55vh !important;
  font-family: "Commissioner", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-section-button-row{
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-section-button {
  border-radius: 5px;
  background-color: #2e9191;
  color: #f3f3f3;
  width: 150%;
  font-size: 25px;
  border: none;
  height: 7vh;
  transition: transform 0.2s;
}

.top-section-button:hover {
  transform: scale(1.1);
}

.text-besides-button{
  font-size: 25px;
  vertical-align: middle; 
  padding-top: 5px;
}

@media (max-width: 480px){
  .hide-display{
    display: none;
  }
  .top-section-button-row{
    margin-top: 10px !important;
    height: 8vh;
  }
  .top-section{
    height: 90vh !important;
  }
  .hire-topline-phone{
    height: 150px;
  }
  .lp{
    height: 60vh !important;
  }
  .resp-width{
    max-width: 50%;
  }

  .top-section-button{
    font-size: 18px;
    font-weight: 600;
    width: 100%
  }

  .pad-bw-but{
    padding-top: 10px;
  }
  .text-besides-button{
    font-size: 18px;
    vertical-align: middle; 
    padding-top: 5px;
  }
}

/* Second Section */
.text-box-1 {
  width: 60vw;
}
.text-box-2 {
  width: 50vw;
}

.light-bg {
  background-color: #f6f9ff;
}
.dark-bg {
  background-color: #12327d;
}

.tn {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.z-ind{
  z-index: 1;
}

.video-testi-text{
  border-radius: 5px;
  background-color: white;

  max-width: 80%;
  margin-top: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px){
  .outsource-svg{
    margin-top: -80px;
    margin-bottom: -50px;
  }
}

/* Blue Cards */
.blue-box {
  background-color: #dbe5ff;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.middle-blue-box {
  height: 100%;
}

@media(max-width: 480px){
  .blue-box{
    margin-bottom: 10px;
  }
}

/* Numbers Counters */
.counter-text {
  color: #335ec3;
  font-weight: 600;
  font-size: 50px;
}

.desc {
  color: #404040;
  font-size: 17px;
}
@media(max-width: 480px){
  .counter-text{
    font-size: 35px;
  }
  .desc {
    color: #404040;
    font-size: 15px;
  }
}

/* Images in Array */
.img-arr {
  height: 80px;
  filter: grayscale(100%);
  transition: transform 0.2s;
}

.img-arr:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

@media(max-width: 480px){
  .img-arr{
    margin-bottom: 20px;
    filter: grayscale(0%);
  }
  .img-arr:hover{
    z-index: 1;
  }
  .img-sizing{
    width: 215px;
    height: auto;
  }
  .img-testimonial{
    width: 80vw;
  }
  .testi-text{
    margin-top: -30px;
  }
}
/* Bottom Navigation Cards */
.box,
.obox {
  background-color: #456bc3;
  height: 150px;
  color: #f3f3f3;
  border-radius: 5px;
  transition: transform 0.2s;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.box:hover,
.obox:hover {
  transform: scale(1.1);
}

.box a:link, .obox a:link, .box a:active, .obox a:active,
.box a:hover, .obox a:hover, .box a:visited,
.obox a:visited{
  color: #f3f3f3;
  text-decoration: none;
}

.obox {
  background-color: #f2984d;
}

@media(max-width:480px){
  .box, .obox{
    max-height: 100px;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }
  .box:hover, .obox:hover{
    transform: scale(1.05);
  }
}

/* Vertical Divider - Line */

/* .line {
  width: 2px;
  background-color: #b1c8ff;
  height: 100%;
  margin-left: 35px;
  margin-right: 20px;
} */

body {
  overflow-x: hidden;
  font-family: "Commissioner", sans-serif;
  color: #2f3545;
}

@media (max-width: 500px) {
  body {
    overflow-x: hidden;
    font-size: 1.5rem;
  }
}

.depute {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

/* Footer Formatting */


footer {
  background-color: #12327d;
  color: #f3f3f3;
}

.spacing {
  padding-left: 100px;
  padding-right: 100px;
}

@media(max-width: 480px){
  .spacing{
    padding-left: 0px !important;
    padding-right: 0px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-social-row{
    max-width: 25%;
  }
}

/* Subscribe Form */
.content {
  width: 350px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}

@media(max-width: 480px){
  .content{
    max-width: 320px;
  }
}
.subscription {
  position: relative;
  width: 100%;
  height: 100%;
}

.subscription .add-email {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
}

.submit-email {
  margin-top: 1.5px;
  margin-right: 0.75px;
}
.subscription .submit-email {
  position: absolute;
  top: 0;
  right: 0;
  height: calc(100% - 2px);
  width: 100px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: #517bdd;
  color: #f3f3f3;
  transition: width 0.35s ease-in-out, background 0.35s ease-in-out;
}

.subscription.done .submit-email {
  width: calc(100% - 2px);
}

.subscription .submit-email .before-submit,
.subscription .submit-email .after-submit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 38px;
  transition: visibility 0.35s ease-in-out, opacity 0.35s ease-in-out;
}

.subscription.done .submit-email .before-submit,
.subscription:not(.done) .submit-email .after-submit {
  visibility: hidden;
  opacity: 0;
}

.subscription .submit-email .after-submit {
  transition-delay: 0.35s;
}

.subscription:not(.done) .submit-email .before-submit,
.subscription.done .submit-email .after-submit {
  visibility: visible;
  opacity: 1;
}

/* Blinking Cursor */
.blinking-cursor {
  margin-left: -10px;
  font-weight: 100;
  font-size: 55px;
  color: #f3f3f3;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@media(max-width: 480px){
  .blinking-cursor{
    font-size: 40px;
  }
}

li::marker{
  color: #456BC3;
  font-size: 1.5rem;
}


.categ-list{
  font-size: 20px;
}

.tick{
  background: url("../img/tick.svg") no-repeat left top;
  background-size: 20px 20px;
  height: 50px;
  padding-left: 0px; 
}

.section-svg{
  width: 40vw;
  height: auto;
}

@media (max-width: 480px){
  .section-svg{
      height: 30vh;
      width: auto;
  }
}

.vl {
  border-left: 6px solid #12327D;
  border-radius: 5px;
  height: 150px;
}

@media (max-width: 480px){
  .vl{
    display: none;
  }
}