{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- Top Section -->
    <section  style="display: flex; align-items: center; justify-content: center; background: url('static/assets/img/about-us.png'); height: 90vh; vertical-align: middle;">
        <div class="container" >
            <div class="row center" style="vertical-align: middle; ">
                <center style="color: #f3f3f3 !important; vertical-align: middle;">
                    <h1 class="first-h1-page">Bringing<br> all Business Solutions<br> at one place
                        <span class="blinking-cursor">.</span>
                    </h1>
                </center>
            </div>
        </div>

    </section>
    <!-- Top Section Ends-->
 
    <!-- About Us -->
    <section class="light-bg">
        <br>
        <div class="container py-5">
            <div class="row center">
                <h2 class="h-2">About Us</h2>
            </div>
            <div class="min-space"></div>
            <div class="row center">
                <style>
                    .section-svg{
                        width: 40vw;
                        height: auto;
                    }

                    @media (max-width: 480px){
                        .section-svg{
                            height: 30vh;
                            width: auto;
                        }
                    }
                </style>
                <div class="col-md-8 center my-4">
                    <img class="section-svg" src="{% static 'assets/img/about-team.svg' %}"  >
                </div>
                <div class="col-md-4 px-4">
                    <div class="row center desc">
                        <p style="text-align: justify;">Unlock Your Potential with Effortless Business Solutions. <br></p>
                        <p style="text-align: justify;">At Depute, we specialize in customized outsourcing solutions that streamline operations, accelerate growth, and empower you to focus on your core competencies. With expertise in moderations for short video apps, lead qualifications for EdTech companies, and ecommerce cataloging, we handle the tasks that can bog you down. Our industry-savvy professionals are dedicated to understanding your unique goals and delivering tailored solutions that propel your business forward. Partner with us for cutting-edge technologies, unwavering dedication, and exceptional results.<br></p>
                        <p style="text-align: justify;">Experience the true power of outsourcing with Depute and elevate your business to new heights. Contact us now to embark on a journey of effortless growth. <br></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </section>
    <!-- About us Ends -->

    <section >
        <div class="row max-space"></div>
        <div class="container">
            <div class="row" style="text-align: justify;">
                <div class="col-md-5 my-4 px-4">
                    <div class="row"><h2 >Mission Statement</h2></div>
                    <div class="row"><span>Igniting Growth, Amplifying Success.</span></div>
                </div>
                <div class="col-md-2 center">
                    <div class="vl"></div>
                </div>
                <div class="col-md-5 my-4">
                    <div class="col-md-5" style="min-width: 100%;">
                        <div class="row"><h2 class="h4">Vision Statement</h2></div>
                        <div class="row">
                            <p>Empowering Global Business Success Through Strategic Outsourcing
                            We are the catalyst that transcends limits, fuels innovation, and drives extraordinary success for businesses worldwide. Together, we reshape possibilities, unlocking the full potential of every enterprise we touch. Join us on this transformative journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Last Navigation -->
    <section class="center py-5 my-5">
        <div class="row max-space"></div>
        <div class="container row center">
            <div class="col-md-6 center">
                <h2 class="text-center">Join us in our mission of revolutionizing the economy</h2>
            </div>
            <br>
            <div class="col-md-4 center">
                <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfHn2JsDbRDpmiZD6Zc0Co8fVzKfSQ93p-Dn5PrU11PTe03Iw/viewform">
                <button class="top-section-button" style="height: 10vh;">Start Working</button>
                </a>
            </div>
            
        </div>  
        <div class="row max-space"></div>
    </section>
    <!-- Last Navigation Ends -->
   
{% endblock %}