{% extends 'base.html' %}
{% block content %}
{% load static %}

    <!-- Top Section -->
    <section class="top-section" >
        <div class="container" >
            <div class="row max-space"></div>
            <div class="row center">
                <div class="col-md-6">
                    <div >
                        <img class="tn" style="border-radius: 5px;" src="{% static 'assets\img\excellent-sales-header.jpg' %}">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="px-2">
                        <div class="row min-space center"></div>
                        <div class="row center">
                        </div>
                        <div class="row center">
                            <p class="desc-below-main-h1">
                                <span class="first-h1-page px-1">Streamline, Scale, Succeed</span>
                            <br> <br>Outsourcing Solutions for Rapid Growth!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mid-space"></div>
            <div class="row top-section-button-row " >
                <div class="col-md-6 resp-width center" >
                    <a 
                        target="_blank"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfHn2JsDbRDpmiZD6Zc0Co8fVzKfSQ93p-Dn5PrU11PTe03Iw/viewform">
                        <button class="top-section-button">Start Working</button>
                    </a>
                </div>
            </div>
            <div class="row max-space"></div>
        </div>
    </section>    
    <!-- Top Section Ends-->

    <!-- How we work -->
    <section class="text-center">
        <div class="container">
            <div class="row max-space"></div>
            <h2 class="h-2 center">How we work</h2>
            <div class="row min-space"></div>
            <div class="row center">
                <br>
                <img style="width: 80vw; border-radius: 5px;" src="{% static 'assets/img/depute-work.png' %}" >
            </div>
            <div class="row max-space"></div>
        </div>
        <br>
    </section>
    <!-- How we work -->

    <!-- Why choose Depute -->
    <section class="light-bg center" >
        <div class="container">
            <div class="row max-space"></div>
            <div class="row center">
                <h2 class="h-2 center">Why choose depute?</h2>
            </div>
            <div class="center">
                <center class="normal-text">
                    Work with an agency that works as hard to earn your trust as they do to earn you results. <br>This
                    is how we work.<br><br>
                </center>
            </div>
            <div class="row center">
                <br>
                <img style="width: 80vw; border-radius: 5px;" src="{% static 'assets/img/why_choose_depute.jpg' %}" >
            </div>
            <div class="row max-space"></div>
            <div class="row min-space hide-display"></div>
        </div>
    </section>
    <!-- Why choose Depute Ends -->

    <!-- Our Offering -->
    <section >
        <div class="container">
            <div class="row max-space"></div>
            <h2 class="h-2 center">Our Services</h2>
            <p class="normal-text center">Domains that we cater our clients with</p>
            <div class="row min-space"></div>
            <div id="info" class="text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 my-3">
                            <div class="blue-box p-4" style="height: 413px;">
                                <img src="{% static 'assets/img/short-videos.png' %}">
                                <h3 class="h4 my-4">Moderation for Short Video Apps</h3>
                                <div style="text-align: left;" class="desc">
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Ensure a safe and engaging user experience.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Implement content guidelines and community standards.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Provide proactive moderation and brand reputation management.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="blue-box p-4" style="height: 413px;">
                                <img  src="{% static 'assets/img/sales-enable.png' %}"  >
                                <h3 class="h4 my-4">Lead Qualifications and Presales for EdTech Companies</h3>
                                <div style="text-align: left;" class="desc">
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Identify and qualify potential leads.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Conduct targeted outreach and engagement.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Nurture leads for efficient sales conversions.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="blue-box p-4" style="height: 413px;">
                                <img  src="{% static 'assets/img/e-commerce-catalog.png' %}"  >
                                <h3 class="h4 my-4">Cataloging for Ecommerce</h3>
                                <div style="text-align: left;" class="desc">
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Optimize and organize product catalog.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Create comprehensive and accurate listings.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Enhance product images and descriptions for better discoverability.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="blue-box p-4" style="height: 413px;">
                                <img  src="{% static 'assets/img/operations.png' %}"  >
                                <h3 class="h4 my-4">Onground Operations</h3>
                                <div style="text-align: left;" class="desc">
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Support onground activities and operations.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Coordinate logistics and event management.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Ensure smooth execution of tasks in physical environments.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 my-3">
                            <div class="blue-box p-4" style="height: 413px;">
                                <img  src="{% static 'assets/img/hiring.png' %}"  >
                                <h3 class="h4 my-4">Hiring</h3>
                                <div style="text-align: left;" class="desc">
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Rigorous 3 Step Interview Process.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Expert Interviewers.</div>
                                    </div>
                                    <div class="row pl-3">
                                        <div class="col-1"><img src="{% static 'assets/img/tick.svg' %}" style="width: 15px;" /></div>
                                        <div class="col-10">Time-Saving Benefits.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row min-space"></div>
        </div>
        <br>
        <div class="container light-bg" style="border-radius: 5px;">
            <div class="min-space"></div>
            <style>
                .section-svg{
                    width: 40vw;
                    height: auto;
                }

                @media (max-width: 480px){
                    .section-svg{
                        height: 30vh;
                        width: auto;
                    }
                }
            </style>
            <div class="row center" style="text-align: left !important;">
                <div class="col-sm-6 center">
                    <img class="section-svg" src="{% static 'assets/img/best-deal-with-depute.png' %}" >
                </div>
                <div class="col-sm-6  ">
                    <div class="row p-0 text-center"><h3 class="h4" style="font-size: 35px;">Introducing Depute's Tailored Candidate Sourcing</h3></div>
                    <div class="row p-0">
                        <div class="col-md-6">
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Deep Analysis</span></div>
                            </div>
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Targeted Advertising</span></div>
                            </div>
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Vast Network</span></div>
                            </div>
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Proactive Approach</span></div>
                            </div>
                        </div>
                        <style>
                            @media (max-width: 480px) {
                                .column-up-phone{
                                    margin-top: -50px;
                                }
                            }
                        </style>
                        <div class="col-md-6 column-up-phone">
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Rigorous Screening</span></div>
                            </div>
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Customized Assessments</span></div>
                            </div>
                            <div class="row p-0 my-5">
                                <div class="col-2"><img src="{% static 'assets/img/tick.svg' %}" style="width: 20px;" /></div>
                                <div class="col-10"><span>Transparent Communication</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="min-space"></div>
        </div>
        <div class="row max-space"></div>
        <br>
    </section>
    <!-- Our Offerings Ends -->
    


    <!-- Numbers -->
    <section class="light-bg">
        <div class="container">
            <div class="row max-space"></div>
            <h2 class="h-2 center">Numbers make us stand out</h2>
            <div class="row min-space"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="counter-text counter center">10,000+</h3>
                        <p class="desc center">Pool of Taskforce</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="counter-text counter center">10K+</h3>
                        <p class="desc center">Work Hours</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="counter-text counter center">10+</h3>
                        <p class="desc center">Language Support</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                        <h3 class="counter-text counter center">98%+</h3>
                        <p class="desc center">Quality & Accuracy</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="counter-text counter center">95%+</h3>
                        <p class="desc center">Fill Rate</p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="row max-space"></div>
        </div>
        <br>
    </section>
    <!-- Numbers Ends -->

    <!-- Clients -->
    <section class="text-center">
        <div class="container">
            <div class="row max-space"></div>
            <h2 class="h-2 center">Our Clients</h2>
                <div class="row min-space"></div>   
                <div class="container">
                    <div class=" row">
                    <div class="col-md-3 center">
                        <img class="img-arr img-sizing" src="{% static 'assets/img/foreignadmits.png' %}" >
                    </div>
                    <div class="col-md-3 center">
                        <img class="img-arr" src="{% static 'assets/img/dear-sir.png' %}" >
                    </div>
                    <div class="col-md-3 center">
                        <img class="img-arr img-sizing" src="{% static 'assets/img/Questt.png' %}" >
                    </div>
                    <div class="col-md-3 center">
                        <img class="img-arr img-sizing" src="{% static 'assets/img/Kamero-Name.png' %}" >
                    </div>
                </div>
            </div>
            <div class="row min-space"></div>   
            <!-- <div class="row center normal-text ">
                <a href="#"><u>Read Case Studies ></u></a>
            </div> -->
            <!-- <div class="row max-space"></div> -->
        </div>
    </section>
    <!-- Clients Ends -->

    <!-- Last Navigation -->
    <section class="container ">
        <div class="row max-space"></div>
        <div class="row p-0 center ">
            <div class="col-md-6 center "><h2 class="h-2 center">What are You Waiting For?</h2></div>
            <div class="col-md-2 center ">
                <a 
                    target="_blank"
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfHn2JsDbRDpmiZD6Zc0Co8fVzKfSQ93p-Dn5PrU11PTe03Iw/viewform">
                    <button class="top-section-button" >Start Working</button>
                </a>
            </div>
        </div>
         
        <div class="row max-space"></div>
    </section>
    <!-- Last Navigation Ends -->


{% endblock %}